:root {
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue",
    sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --base-fontsize: 1.15rem;
  --header-scale: 1.25;

  --line-height: 1.618;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --accent-light: #90caf9;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
  --color-mono-100: rgb(255 255 255);
  --color-mono-900: rgb(0 0 0);
  --color-blue: rgb(0 225 255);
  --color-ui-100: rgb(243 243 246);
  --color-ui-200: rgb(185 187 209);
  --color-ui-300: rgb(144 144 184);
  --color-ui-400: rgb(93 93 137);
  --color-ui-500: rgb(51 51 102);
  --color-ui-600: rgb(38 38 79);
  --color-ui-700: rgb(31 31 66);
  --color-ui-800: rgb(21 21 50);
  --color-ui-850: rgb(15 15 35);
  --color-ui-900: rgb(11 11 30);
  --color-interaction-300: rgb(86 255 185);
  --color-interaction-500: rgb(19 240 148);
  --color-interaction-700: rgb(6 201 120);
  --color-blue-300: rgb(166 244 255);
  --color-blue-500: rgb(0 225 255);
  --color-blue-700: rgb(0 175 204);

  --color-teal-300: rgb(46 255 202);
  --color-teal-500: rgb(20 247 190);
  --color-teal-500-opacity: rgba(20, 247, 190, 0.1);
  --color-teal-700: rgb(2 201 151);
  --color-attention-300: rgb(251 140 0);
  --color-attention-500: rgb(245 124 0);
  --color-attention-500-opacity: rgba(245, 124, 0, 0.1);
  --color-attention-700: rgb(239 108 0);
  --color-success-300: rgb(153 235 168);
  --color-success-500: rgb(83 221 108);
  --color-success-700: rgb(30 153 53);
  --color-info-300: rgb(77 180 255);
  --color-info-500: rgb(4 150 255);
  --color-info-700: rgb(3 105 178);
  --color-error-300: rgb(255 89 89);
  --color-error-300-opacity: rgba(255, 89, 89, 0.1);
  --color-error-500: rgb(255 51 51);
  --color-error-700: rgb(178 36 36);
  --color-disabled-300: rgb(86 90 107);
  --color-disabled-500: rgb(52 56 71);
  --color-disabled-700: rgb(25 26 47);
}
