:root {
  /**FONTS**/
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue",
    sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --base-fontsize: 1.15rem;
  --header-scale: 1.25;
  --line-height: 1.618;

  /**FONT SIZES**/
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;

  /**BREAKPOINTS**/
  --bp-xs: 320px;
  --bp-sm: 425px;
  --bp-md: 768px;
  --bp-lg: 960px;
  --bp-xl: 1280px;

  /**COLORS**/
  --color-text: #212121;
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-blue: rgb(0 225 255);
  --color-bg: rgb(11 11 30);
  --color-bg1: rgb(31 31 66);
  --color-bg2: rgb(21 21 50);
  --color-green: rgb(19 240 148);
  --color-teal: rgb(20 247 190);
  --color-teal-opacity: rgba(20, 247, 190, 0.1);
  --color-orange: rgb(245 124 0);
  --color-orange-opacity: rgba(245, 124, 0, 0.1);
  --color-red: rgb(255 89 89);
  --color-red-opacity: rgba(255, 89, 89, 0.1);
}

html {
  font-family: var(--sans-font);
}
body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-bg1);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  color: var(--color-white);
}

button {
  padding: 5px 10px;
  cursor: pointer;
  color: var(--color-bg2);
  background: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 6px;
  box-shadow: 1px 1px 1px var(--color-black);
  height: 40px;
  font-weight: 600;
}
button:disabled {
  opacity: 0.5;
}

button.outline.delete {
  border: 2px solid var(--color-red);
  background: transparent;
  color: var(--color-red);
}
button.outline.edit {
  border: 2px solid var(--color-green);
  background: transparent;
  color: var(--color-green);
}
input {
  height: 30px;
  border: 1px solid var(--color-teal);
  border-radius: 6px;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
.container header {
  height: 60px;
  display: flex;
  background: var(--color-bg);
  align-items: center;
  justify-content: space-between;
}
.container header .header__logo {
  width: 120px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .container header .header__logo {
    width: 300px;
    padding: 0 20px;
  }
}
.container header .header__logo img {
  height: 35px;
  width: 100%;
}
.container header .header__actions {
  display: flex;
  flex: 0.9;
  justify-content: flex-end;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container header .header__actions {
    flex: 0.3;
  }
}

.container main {
  flex: 1;
  max-height: calc(100vh - 30px - 60px);
  overflow: auto;
  padding: 1rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .container main {
    padding: 1rem 4rem;
  }
}
.container footer {
  flex-shrink: 0;
  height: 60px;
  background: var(--color-bg);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.empty p {
  color: var(--color-white);
  background-image: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.list {
  display: block;
  height: 100%;
  width: 100%;
}

.list.loading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.list .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .item-container .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  border: 2px solid transparent;
  background: var(--color-bg1);
  background-clip: padding-box;
  border-radius: 10px;
  height: calc(250px - 20px);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 20px 25px -5px var(--color-teal-opacity), 0 10px 10px -5px var(--color-teal-opacity);
}

.item::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.item .avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 15px;
  border: 1px solid var(--color-white);
  background: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  box-shadow: 0 20px 25px -5px var(--color-teal-opacity), 0 10px 10px -5px var(--color-teal-opacity);
}

.item .avatar span {
  color: var(--color-bg2);
}
.item .actions {
  display: flex;
  gap: 15px;
}

.item h2 {
  color: var(--color-white);
  background-image: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader + div {
  display: block;
  min-height: 30px;
  width: fit-content;
  color: var(--color-white);
  background-image: linear-gradient(45deg, var(--color-teal), var(--color-blue));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.loader::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-teal);
  border-color: var(--color-teal) transparent var(--color-teal) transparent;
  animation: loaderAnimation 1.2s linear infinite;
}
@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.snackbar {
  position: absolute;
  height: 50px;
  width: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 65px;
  animation: open 0.2s ease-in-out forwards;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.snackbar.closing {
  animation: close 0.2s ease-in-out forwards;
}
.snackbar.success {
  background: var(--color-teal);
  border: 1px solid var(--color-white);
  box-shadow: 0 20px 25px -5px var(--color-teal-opacity), 0 10px 10px -5px var(--color-teal-opacity);
}
.snackbar.error {
  background: var(--color-red);
  border: 1px solid var(--color-white);
  box-shadow: 0 20px 25px -5px var(--color-red-opacity), 0 10px 10px -5px var(--color-red-opacity);
}

.snackbar.warning {
  background: var(--color-orange);
  border: 1px solid var(--color-white);
  box-shadow: 0 20px 25px -5px var(--color-orange-opacity), 0 10px 10px -5px var(--color-orange-opacity);
}
@keyframes open {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes close {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
.modal {
  position: absolute;
  content: "";
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  min-height: 200px;
  height: fit-content;
  width: 85%;
  animation: open 0.2s ease-in-out forwards;
  border: 2px solid var(--color-teal);
  background: var(--color-bg1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 20px 25px -5px var(--color-teal-opacity), 0 10px 10px -5px var(--color-teal-opacity);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 50%;
  }
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.1em 0;
}
.modal.closing {
  animation: close 0.2s ease-in-out forwards;
}
.modal-content {
  padding: 0 1em;
}
@media screen and (min-width: 768px) {
  .modal-content {
    padding: 0 3.5em;
  }
}
.modal-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.modal-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-black-opacity);
  z-index: 90;
}
